.intro{
    background-color: white;
    display: flex;
}

.intro .left{
    flex: 0.55;
    background-color: white;
    overflow: hidden;
}

.intro .right{
    flex: 0.45;
    position: relative;
}

.logo{
    text-decoration: none;
    color: black;
}

.intro .left .imgContainer{
    width: 700px;
    height: 700px;
    align-items: center;
    display: flex;
    margin: 20px;
    margin-left: 40px;
    justify-content: center;
}

.intro .left .imgContainer img{
    width: 100%;
    height: 100%;
    
}

.intro .right a{
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 10px;
    font-size: 50px;
    left: 40%;
    animation: arrowBlink 3s infinite;
}

@keyframes arrowBlink{
    to{
        opacity: 0;
    }
}

.intro .right .wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    position: absolute;
    bottom: 0px;
}

.intro .right .wrapper .stationary{

}

.intro .right .wrapper h1{
    font-size: 70px;
}
.intro .right .wrapper h2{
    font-size: 30px;
}
.intro .right .wrapper h3{
    font-size: 30px;
    
}

.intro .right .wrapper h3 span{
    color: #FE0222;
}