:root{
    --width: 871px;
}

@media only screen and (max-width: 1022px){
    
}

.app{
    height: 100vh;
}

.app .sections{
    height: calc(100vh - 80px);
    width: 100%;
    position: relative;
    top: 80px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll; 
    scroll-behavior: smooth;
}

.sections::-webkit-scrollbar{
    display: none;
}

.sections > *{
    height: calc(100vh - 80px);
    width: 100%;
    scroll-snap-align: start;
}